body {
    font-family: 'Mulish', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

h3 {
    margin-left: 50px; 
}

.aminAndCart {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.cart, .admin {
    display: flex;
    align-items: center;
}

.cart {
    margin-right: 20px;
}

.cartText, .adminProd {
    text-decoration: none;
    color: black;   
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.items {
    text-align: center;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    max-height: fit-content;
    padding: 20px;
    background-color: #f8f9fa;
}

.productName {
    margin-bottom: 30px;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.img {
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    max-width: 200px;
}

.hidden {
    display: none !important
}

.carousel .carousel-control-next-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000' %3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
}



